
#login-page {
  position: relative;
  height: 100%;
  background: #f0f2f5;
}

.ant-form.login-form {
  position: absolute;
  top: 200px;
  right: 10%;
  width: 400px;
  background: #fff;
  border: 1px solid #f0eded;
  border-radius: 4px;
  padding: 15px 20px 30px;
  .title{
    text-align: center;
    margin-bottom: 50px;
    img{
      height: 44px;
      margin-right: 16px;
    }
  }
}
